.body{
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f0f0f0;
}

.header {
color: white;
border-radius: 5px;
text-align: center;
padding: 20px;
border-color: black;
border-radius: 10px;
}



.profile-switch {
display: flex;
justify-content: space-between;
background-color: #0741ad;
padding: 10px;
border-radius: 5px;
margin: 20px;
}

.profile-switch label {
background-color: #0741ad;
color: white;
padding: 5px 10px;
border-radius: 3px;
cursor: pointer;
}

.content {
padding: 20px;
background-color: white;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
margin: 20px;
}

h1 {
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
color: black;
}

h2 {
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
margin-top: 20px;
}

ul {
list-style-type: none;
padding-left: 0;
margin-top: 10px;
}

li {
margin-bottom: 10px;
padding: 10px;
border: 1px solid #e0e0e0;
border-radius: 4px;
background-color: #f8f8f8;
}

.add-service-btns {
display: flex;
justify-content: center;
margin-top: 20px;
}

.botao.salvar {
background-color: #0741ad;
color: white;
padding: 5px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
margin: 0 10px;
}