<body>
    <div class="header">
      <h1>AGENDAMENTO DE SERVIÇOS</h1>
    </div>
    <div class="profile-switch">
      <button class="botao salvar" for="client-profile" type="radio" id="client-profile" name="profile"
        [routerLink]="['/cadastrar-veiculos']">Cadastrar Veículo</button>
      <button class="botao salvar" for="client-profile" type="radio" id="client-profile" name="profile"
        [routerLink]="['/meus-agendamentos']">Meus Agendamentos</button>
      <button class="botao" [routerLink]="['/meus-agendamentos']">Agendamentos</button>
  </div>

  
    <div class="content">''
      <h2>{{ titulo }}</h2>
      <div *ngIf="perfil == 0">
        <h3>Serviços disponíveis</h3>
        <ul>
          <li *ngFor="let servico of listaServicos">
            <b>Serviço:</b> {{ servico.nome }} - <b>Preço:</b> R${{ servico.preco }} - <b>Duração:</b> {{ servico.duracao }} minutos
            <br>
            <b>Descrição: </b> <i>{{ servico.descricao }}</i>
          </li>
        </ul>

      </div>
  
      <div *ngIf="perfil == 1">
        <h3>Serviços cadastrados</h3>
        <ul>
          <li *ngFor="let servico of listaServicos">{{ servico.nome }}</li>
        </ul>
        <div class="add-service-btns">
          <button class="botao salvar" for="client-profile" type="radio" id="client-profile" name="profile"
            [routerLink]="['/cadastrar-servicos']">Cadastrar Serviços</button>
        </div>
      </div>
    </div>
  </body>
  