<head>
    <title>{{ titulo }}</title>
</head>
<body style="background-color: #2196f3">
    <div class="troca-perfil perfil">
        <label style="background-color: #0741ad; color: white;" for="client-profile"  type="radio" id="client-profile" name="profile"  (click)="trocarPerfilCliente()">Cliente</label>
        <label style="background-color: #0741ad; color: white;" for="employee-profile" type="radio" id="employee-profile" name="profile"  (click)="trocarPerfilFuncionario()">Funcionário</label>
    </div>
    <h1 style="background-color: rgba(255, 255, 255, 0.31); border-radius: 90%;">{{ titulo }}</h1>
    <div *ngIf="perfil == 0" >
        <h2>Perfil do Cliente</h2>
        <ul>
            <li *ngFor="let servico of listaServicos">{{ servico }}</li>
            <div class="troca-perfil add-servico">
                <button style="background-color: #0741ad; color: white;" for="client-profile"  type="radio" id="client-profile" name="profile" [routerLink]="['/realizar-agendamento']">Realizar agendamento de serviços</button>
            </div>
        </ul>
    </div>
    <div *ngIf="perfil == 1" >
        <h2>Perfil do Funcionário</h2>
        <ul>
            <li *ngFor="let servico of listaServicosAgendados">{{ servico }}</li>
            <div class="troca-perfil add-servico">
                <button style="background-color: #0741ad; color: white;" for="client-profile"  type="radio" id="client-profile" name="profile" [routerLink]="['/cadastrar-servicos']">cadastrar Serviços</button>
            </div>
        </ul>
    </div>

</body>