<div class="container">
  <h1>Cadastrar Veículo</h1>
  <div class="profile-switch">
    <button class="botao salvar" for="client-profile" type="radio" id="client-profile" name="profile"
      [routerLink]="['/realizar-agendamento']">AGENDAR SERVIÇO</button>
    <button class="botao salvar" for="client-profile" type="radio" id="client-profile" name="profile"
    [routerLink]="['/servicos']">SERVIÇOS</button>
    <button class="botao salvar" for="client-profile" type="radio" id="client-profile" name="profile"
      [routerLink]="['/meus-agendamentos']">MEUS AGENDAMENTOS</button>
  </div>
  
  <div class="form-group">
    <label for="marca">Marca:</label>
    <input type="text" class="form-control" id="marca" [(ngModel)]="veiculo.marca" name="marca" required>
  </div>
  <div class="form-group">
    <label for="modelo">Modelo:</label>
    <input type="text" class="form-control" id="modelo" [(ngModel)]="veiculo.modelo" name="modelo" required>
  </div>
  <div class="form-group">
    <label for="ano">Ano:</label>
    <input type="text" class="form-control" id="ano" [(ngModel)]="veiculo.ano" name="ano" required>
  </div>
  <div class="form-group">
    <label for="placa">Placa:</label>
    <input type="text" class="form-control" id="placa" [(ngModel)]="veiculo.placa" name="placa" required>
  </div>
  <div class="form-group">
    <label for="carroceria">Carroceria:</label>
    <input type="text" class="form-control" id="carroceria" [(ngModel)]="veiculo.carroceria" name="carroceria" required>
  </div>
  <button class="btn btn-primary" (click)="salvarVeiculo()">Salvar</button>
  <button class="btn btn-secondary" for="client-profile" type="radio" id="client-profile" name="profile"
    [routerLink]="['/realizar-agendamento']">Realizar Agendamento</button>
</div>
