<body>
  <div class="header">
    <h1>{{ titulo }}</h1>
  </div>

  <div class="content">
    <h2>Agendamentos</h2>
    <ul>
      <li *ngFor="let agendamento of listaAgendamentos">
        <b>Data:</b> {{ agendamento.dataEntrada | date:'dd/MM/yyyy HH:mm' }} - <b>Preço Total:</b> R${{ precoTotal }}
        <ul class="servicos-list">
          <li *ngFor="let servico of agendamento.servicos" class="servico">
            {{ servico.nome }} - R${{ servico.preco }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</body>