<body style="background-color: #2196f3">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content" style="padding: 20px;">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLongTitle" style="color: #000;">Realizar Agendamentos</h1>
            </div>
            <div class="modal-body">
              <div class="box-input row px-2">
                <label style="font-size: .87rem; color: #0A1F44;">Adicione serviços para o seu agendamento</label>
                <select class="form-control" [(ngModel)]="servicoSelecionado">
                  <option *ngFor="let servico of servicos" [ngValue]="servico">
                    {{ servico.nome }}
                  </option>
                </select>
              </div>
              <div>
                <button id="submit" type="submit" class="botao" (click)="adicionarServico()"><i></i>ADICIONAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngFor="let servico of servicosAdicionados" class="card">
        <h3>{{ servico.nome }}</h3>
      </div>
      <div class="valores">
        <p>Valor total: R$ {{ calcularValorTotalServicos() }}</p>
        <p>Duração total: {{ calcularDuracaoTotalServicos() }} minutos</p>
      </div>
      <div *ngIf="servicos.length > 0" class="box-input row px-2 botoes">
        <button style="margin-right: 10px;" class="botao salvar" (click)="salvarAgendamento()">Criar Agendamento</button>
        <button class="botao salvar" (click)="salvarAgendamento()">Cancelar Agendamento</button>
      </div>
</body>

  