<div class="container" style="background-color: #2196f3">
    <h1 style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">Cadastro</h1>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" class="form-control" [(ngModel)]="usuario.email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="usuario">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.nome" id="nome" name="nome" required>
    </div>
    <div class="form-group">
      <label for="usuario">CPF</label>
      <input type="text" class="form-control" [(ngModel)]="usuario.cpf" id="nome" name="nome" required>
  </div>
    <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.senha" id="senha" name="senha" required>
    </div>
    <div class="form-group">
        <label for="senha">Confirmar senha:</label>
        <input type="text" class="form-control" id="senha" name="senha" required>
    </div>
    <button class="btn btn-primary" style="background-color: #0a9f08; color: white; margin-right: 10px;" (click)="registrarUsuario()">Registrar-se</button>
    <button class="btn btn-primary" style="background-color: #0741ad; color: white; margin-right: 10px;" for="client-profile"  type="radio" id="client-profile" name="profile" [routerLink]="['']">Login</button>
  </div>
  