<body>
  <main>
    <header class="brand-name">
      <img width="85px" class="brand-logo" src="/assets/logo.PNG" alt="logo" aria-hidden="true" [routerLink]="'servicos'">
      <div class="profile-switch">
        <label class="botao salvar" for="client-profile" type="radio" id="client-profile" name="profile"
          [routerLink]="['']">Sair</label>
      </div>
    </header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <footer class="footer">
      <p>Smart Wash - © 2023 Todos os direitos reservados.</p>
    </footer>
  </main>
</body>