<body>
  <div class="container">
    <h1>Realizar Login</h1>
    <div class="form-group">
      <label for="usuario">Usuário:</label>
      <input type="text" class="form-control" [(ngModel)]="usuario.email" id="usuario" name="usuario" required>
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" [(ngModel)]="usuario.senha" id="senha" name="senha" required>
    </div>
    <div class="btn-container">
      <button class="btn btn-primary" (click)="login()">Realizar login</button>
      <button class="btn btn-secondary" [routerLink]="['/cadastrar-usuario']">Registrar-se</button>
    </div>
  </div>
</body>