<div class="container" style="background-color: #2196f3">
    <h1 style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">Realizar login</h1>
    <div class="form-group">
      <label for="usuario">Usuario:</label>
      <input type="text" class="form-control" id="usuario" name="usuario" required>
    </div>
    <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="text" class="form-control" id="senha" name="senha" required>
    </div>
    <button class="btn btn-primary" style="background-color: #0a9f08; color: white; margin-right: 10px;" for="client-profile"  type="radio" id="client-profile" name="profile" [routerLink]="['/servicos']" (click)="realizarLogin()">Realizar login</button>
    <button class="btn btn-primary" style="background-color: #0741ad; color: white; margin-right: 10px;" for="client-profile"  type="radio" id="client-profile" name="profile" [routerLink]="['/cadastrar-usuario']">Registrar-se</button>
  </div>
  