body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.modal-content {
  padding: 20px;
}

.modal-title {
  color: #000;
}

.box-input {
  margin-bottom: 20px;
}

.box-input label {
  font-size: 0.87rem;
  color: #0A1F44;
}

.box-input input[type="text"],
.box-input input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.botao {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.box-input.row.px-2 {
  display: flex;
  align-items: center;
}

.box-input.row.px-2 label {
  flex: 1;
}

.box-input.row.px-2 input[type="text"],
.box-input.row.px-2 input[type="number"] {
  flex: 2;
  margin-left: 10px;
}

.salvar{
    display: block;
}

.box-input.row.px-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box-input.row.px-2 label {
    flex: 1;
  }
  
  .box-input.row.px-2 input[type="text"],
  .box-input.row.px-2 input[type="number"] {
    flex: 2;
    margin-left: 10px;
  }
  
  .box-input.row.px-2 .salvar {
    margin-top: 20px;
    text-align: center;
  }
  