<body>
  <div class="container">
    <h1>Forma de Pagamento</h1>
    <div class="form-group">
      <label for="nome_cartao">Nome no Cartão:</label>
      <input type="text" class="form-control" id="nome_cartao" name="nome_cartao" required>
    </div>
    <div class="form-group">
      <label for="numero_cartao">Número do Cartão:</label>
      <input type="text" class="form-control" id="numero_cartao" name="numero_cartao" required>
    </div>
    <div class="form-group">
      <label for="validade_cartao">Validade do Cartão:</label>
      <input type="text" class="form-control" id="validade_cartao" name="validade_cartao" required>
    </div>
    <div class="form-group">
      <label for="cvv_cartao">CVV do Cartão:</label>
      <input type="text" class="form-control" id="cvv_cartao" name="cvv_cartao" required>
    </div>
    <div class="btn-container">
      <button class="btn btn-primary" (click)="adicionarFormaPagamento()">Adicionar</button>
      <button class="btn btn-secondary" [routerLink]="['/meus-agendamentos']">Voltar</button>
    </div>
  </div>
</body>